.headings {
	margin-top: 1em;
}
.caption {
	margin-left: 1.5em;
}
.sicon {
	color: tomato;
}
.ficon {
	color: orangered;
}
.lastColSecIcons {
	margin-top: 2.5em;
}
.lastColIconsPad {
	margin-right: 0.5em;
}